#glyph-ok-remove {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* home page */
#accueil-div1 {
    margin-bottom: 10px;
    margin-left: -5px;
}


#accueil-button1 {
    margin-left:10px;
}

#navbar {
    background-color: #e3f2fd;
}
#pull-right {
    margin-bottom: 5px;
    margin-right:-5px
}

/* liste users*/

#pull-right-list {  
     margin-bottom:10px;
     margin-top:5px;
}

#pull-left-list {
    margin-bottom:10px;
    margin-top:5px;
}

#create-task {
    margin-bottom:10px;  
}

#button {
    margin-bottom:5px;
}

#ok-remove {
    margin-bottom: -25px;
}

#btn-ending {
    margin-bottom: 5px;
}

#decon {
    margin-bottom: 5px;
}