{% extends 'base.html.twig' %}

{% block header_title %}
	{% if (is_granted('ROLE_ADMIN'))%}
    <div class="text-center">
		<h1>Modifier votre compte</h1>
        </div>
        <h2><strong>Utilisateur : {{ user.name }}</strong></h2>
	{% endif %}
{% endblock %}

{% block header_img %}{% endblock %}

{% block body %}

		{{ form_start(form, {'action' : path('user_edit', { 'id' : user.id })}) }}
		{{ form_widget(form) }}
        {% if  is_granted('ROLE_ADMIN') %}
		<button type="submit" class="btn btn-success pull-right">Modifier</button>
	{% endif %}
	{{ form_end(form) }}

{% endblock %}






