{% extends 'base.html.twig' %}

{% block header_title %}
	<h1>Modifier</h1>

{% endblock %}


{% block body %}
	<div class="row">
		{{ form_start(form) }}
		{{ form_widget(form) }}
        {% if is_granted('ROLE_ADMIN') %}
		<button type="submit" class="btn btn-success pull-right">Modifier</button>
        {% endif %}
		{{ form_end(form) }}

	</div>
{% endblock %}
